jupyter
matplotlib
soundfile
flashlight
flashlight-text

# # If you have a GPU and want to use it, comment the following line to install nvidia / cuda packages (takes 2~3 Gb extra space)
# --extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1
torchaudio==2.3.1
